body {
    background: transparent;
}

header {
    display: none;
    position: absolute;
}

footer {
    display: none;
    position: absolute;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.launching aside {
    display: block;
}
